div.panel-body {
  padding: 2%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-style: solid;
  border-width: medium;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 80%;
}

#chat_div {
  padding-top: 3%;
  padding-bottom: 5%;
}

#nickname_div {
  padding-bottom: 5%;
}

.chat-message {
  white-space: pre-wrap;
}

.my-height {
  height: 80%
}

.no-overflow {
  overflow: hidden;
}

.chat-message-div {
  min-height: 350px;
}